
<h1>Support ChatBox</h1>
<form class="chat_text_container">
    <div class="chat_text">

    </div>
    <div class="input_text">
        <input type="text" class="inputTestBox" placeholder="Input Text" />
        <input type = "submit" class="submitButton btn btn-primary">
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="public/js/chatbox.js"></script>